@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html {
    width: 100%;
    scroll-behavior: smooth;
    overflow-y: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
}

.br1 {
    display: none;
}


/* HEADER STYLE*/


header {
    top: 0;
    width: 100%;
    height: 100vh;
    min-height: 600px;
    overflow: hidden;

    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    background: #131316;
}


header h1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 62px;
    color: #FFFFFF;
}

header h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 62px;
    color: #FFFFFF;
    color: #4AE290;
}

header h3 {

    margin-top: 32px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    color: #DEDEE3;
}



/* NAV */



nav {
    position: absolute;
    align-self: center;
    justify-content: space-between;

    padding: 20px 5%;
    display: flex;
    z-index: 10;
    width: 100%;
    height: auto;
}


nav span svg {
    margin-right: 20px;
    z-index: 999;
    position: static;
    width: 85px;
    height: 23px;
    left: 0px;
    top: 7.5px;
}

#HOME-WHITE {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 68px;
    height: 21px;
    color: black;
    background: rgba(255, 255, 255, 0.9);
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
}

nav ul {
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

nav ul li {
    list-style-type: none;
    user-select: none;
}

nav ul li a {
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;

    text-align: left;
    display: flex;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
}

nav span {
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-btn {
    align-self: right;
    display: flex;
}



.nav-btn button {
    z-index: 10;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;

    border: none;
    height: 42px;
    width: 115px;
}

.btn-login {
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.btn-singUp {
    color: white;
    background-color: #4AE290;
}






/* HEADER CONTEUDO */


.header-conteudo {
    display: flex;
    width: 1050px;
    height: 100%;

    overflow: hidden;
    min-height: 600px;
    top: 0px;

    justify-content: right;

}


.intro-container {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding-left: clamp(3rem, 14vw, 20rem);

    align-self: center;

    left: 0;
    width: auto;
    height: auto;

    z-index: 10;
}

.hero-image {
    width: 70%;
    height: 100%;


    display: flex;
    justify-content: right;
    overflow: hidden;
}

.hero-image img {

    width: auto;
    height: 100%;
}


.intro-container button {
    cursor: pointer;
    margin-top: 30px;
    width: 159px;
    height: 46px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 1px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}











/*** MEDIAS QUERIES ***/

/*MEDIA QUERY NAV*/

@media (max-width: 900px) {

    .nav-menu {
        display: none;
    }

    .nav-btn {
        display: none;
    }
}


/*MEDIA QUERY INTRO HEADER*/

@media (max-width: 1000px) {

    .intro-container {
        padding-left: clamp(3rem, 3vw, 7rem);
    }

}


@media (max-width: 660px) {

    .intro-container h1 {

        font-style: normal;
        font-weight: 800;
        font-size: 40px;
        line-height: 40px;
    }

    .intro-container h2 {
        line-height: 40px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;

        font-size: 40px;
    }

    .intro-container h3 {
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;

        font-size: 20px;
    }

    .intro-container button {
        width: 129px;
        height: 42px;
    }

    .intro-container {
        display: inherit;
        padding-left: 20px;
        width: 400px;

        flex: none;
        order: 0;
        flex-grow: 0;
    }
}

@media (max-width: 400px) {
    .intro-container h1 {
        font-size: 37px;
    }

    .intro-container h2 {
        font-size: 37px;
    }

    .intro-container h3 {
        font-size: 18px;
    }

    .intro-container button {
        width: 125px;
        height: 40px;
    }

    .intro-container {
        width: 330px;
        padding-left: 10px;
    }
}

@media (max-width: 400px) {
    .intro-container h1 {
        font-size: 34px;
    }

    .intro-container h2 {
        font-size: 34px;
    }

    .intro-container h3 {
        font-size: 17px;
    }

    .intro-container button {
        width: 125px;
        height: 40px;
    }

    .intro-container {
        width: 320px;
        padding-left: 10px;
    }
}

@media (max-width: 430px) {
    .intro-container h3 .br2 {
        display: none;
    }

    .intro-container h3 .br1 {
        display: inherit;
    }
}




/* MAIN CONTAINER */

main {
    width: 100%;
    height: auto;
}



/***Our Mission***/

.OurMission-container {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 8rem;
}

.OurMission-Conteudo {
    width: 53%;
    height: auto;

    display: flex;
    flex-direction: column;
    gap: 32px;
}

.H1-Container {
    width: auto;


    display: flex;
    align-items: center;
    flex-direction: row;
}

.H1-Container h1 {
    margin-left: -80px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.H1-Container strong {
    color: #4AE290;
}


.OurMission-texto p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;

    color: #595962;
}

.p-SPACE {
    margin-bottom: 32px;
}

.JoinNow-btn {
    display: flex;

    align-content: center;


    width: 118px;
    height: 52px;


}

.JoinNow-btn a {
    text-decoration: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

    color: #131316;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;
}

/*MEDIA QUERY OUR MISSION*/

@media (max-width: 900px) {


    .OurMission-Conteudo {
        width: 80%;
        padding: 20px;
    }

    .H1-Container svg {
        width: 150px;
        height: 105px;
    }


    .H1-Container h1 {
        margin-left: -80px;

        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 50px;
        line-height: 50px;
    }

    .H1-Container strong {
        color: #4AE290;
    }


    .OurMission-texto p {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 32px;

        color: #595962;
    }

}

@media (max-width: 650px) {


    .OurMission-Conteudo {
        width: 100%;
        padding: 20px;
    }

    .H1-Container svg {
        width: 100px;
        height: 80px;
    }


    .H1-Container h1 {
        margin-left: -50px;

        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 32px;
        line-height: 40px;
    }

    .H1-Container strong {
        color: #4AE290;
    }


    .OurMission-texto p {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 32px;

        color: #595962;
    }

}


/***Traning programs***/

.Training-container {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.TrainingH1-Container {
    margin-bottom: 10rem;
    width: 540px;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-self: center;
}

.TrainingH1-Container svg {
    position: absolute;
    align-self: center;
}

.TrainingH1-Container h1 {
    margin-left: 70px;
    align-self: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.TrainingH1-Container strong {
    color: #4AE290;
}



/*MEDIA QUERY Training*/

@media (max-width: 650px) {
    .TrainingH1-Container h1 {
        margin-left: 50px;
        font-size: 32px;
        line-height: 40px;
    }

    .TrainingH1-Container {
        width: 351px;
        height: 80px;
    }

    .TrainingH1-Container svg {
        align-self: center;
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 370px) {
    .TrainingH1-Container h1 {
        margin-left: 40px;
        font-size: 28px;
        line-height: 38px;
    }

    .TrainingH1-Container {
        width: 320px;
        height: 80px;
    }

    .TrainingH1-Container svg {
        align-self: center;
        width: 70px;
        height: 70px;
    }
}






/*Pricing Plan*/

.Pricing-container {
    margin-bottom: 8rem;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.PricingH1-Container {
    margin-bottom: 9rem;
    width: 540px;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    text-align: center;
}

.PricingH1-Container svg {
    position: absolute;
    margin-left: -160px;
}

.PricingH1-Container h1 {
    align-self: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.PricingH1-Container strong {
    color: #4AE290;
}





.pricing-cards-container {

    justify-content: center;
    align-items: center;
    gap: 32px;
    display: flex;
    width: 100%;
    height: 555px;
}

.pricing-cards-container h1 {

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;

    display: flex;
    align-items: center;
    letter-spacing: 0.1px;
}

.pricing-cards-container h1 strong {

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 50px;
}

.PricingH1-card-container {
    display: flex;

    flex-direction: column;
    align-items: center;
}

.PricingH1-card-container p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;



    color: #595962;
}



.BasicCard {
    display: flex;
    justify-content: center;

    width: 405px;
    height: 513px;
    background: rgba(19, 19, 22, 0.05);
    border-radius: 2px;
}

.EliteCard {
    display: flex;
    justify-content: center;

    width: 405px;
    height: 513px;
    background: rgba(19, 19, 22, 0.05);
    border-radius: 2px;
    display: flex;
}

.PremiumCard {
    display: flex;
    justify-content: center;

    width: 405px;
    height: 555px;
    background: #131316;
    border-radius: 2px;
}



.basic-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    align-items: center;
}

.premium-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    align-items: center;
}

.elite-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    align-items: center;
}

.Card-Tag-Container {

    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

}

.Card-Tag-Container h3 {
    width: auto;
    height: 26px;
    padding: 4px 14px;

    background: #131316;
    border-radius: 1px;

    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;


}



.beneficios-container {
    display: flex;
    flex-direction: column;
}

.beneficios-items {
    display: flex;
    flex-direction: column;
    align-content: left;
    justify-content: space-between;
    gap: 16px;
}

.beneficios {
    display: flex;
    flex-direction: row;
}

.beneficios img {
    margin-right: 10px;
}

.beneficios p {
    text-align: left;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    color: #131316;
}

.PricingFlexCard:hover {
    transition: all .5s;
    transform: scale(1.05);
}

.PricingFlexCard button {
    cursor: pointer;
    width: 159px;
    height: 46px;

    margin: 32px;
    align-self: center;
    border: 1px solid #131316;
    box-sizing: border-box;
    border-radius: 1px;

}

.PricingFlexCard button, text {

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
}



.premium-card-container .Card-Tag-Container h3 {
    width: auto;
    height: 26px;
    padding: 4px 14px;
    color: #131316;

    background: #FFFFFF;
    border-radius: 1px;
}

.premium-card-container .Card-Tag-Container p {
    color: #DEDEE3;
}

.PremiumCard h1 {
    color: #FFFFFF;
}

.PremiumCard p {
    color: #DEDEE3;
}


.premium-card-container .beneficios-container .beneficios img {
    filter: invert(100%);
}










/*MEDIA QUERY Pricing*/
@media (max-width: 1280px) {
    .pricing-cards-container {
        justify-content: space-between;
        gap: 0;
    }

}



@media (max-width: 1024px) {
    .Card-Tag-Container {
        margin: 0px 3rem 0px 3rem;
    }

    .Pricing-container {

        flex-direction: column;
        justify-content: space-between;
    }

    .pricing-cards-container {
        width: 78%;
        height: 994px;
        align-self: center;
        flex-direction: column;
    }

    .basic-card-container {

        flex-direction: row;
    }

    .BasicCard {
        width: 100%;
        height: 268px;
        background: rgba(19, 19, 22, 0.05);
        border-radius: 2px;
    }

    .premium-card-container {
        flex-direction: row;
    }

    .PremiumCard {
        flex-direction: row;
        width: 100%;
        height: 352px;
        background: #131316;
        border-radius: 2px;
    }

    .EliteCard {
        width: 100%;
        height: 35%;
        background: rgba(19, 19, 22, 0.05);
        border-radius: 2px;
    }


    .elite-card-container {
        flex-direction: row;
    }


    .PricingFlexCard button {
        align-self: inherit;
        margin: 32px 0px 0px 0px;
    }
}






@media (max-width: 650px) {
    .PricingFlexCard:hover {
        transition: none;
        transform: none;
    }


    .Card-Tag-Container {
        margin: 0px 1rem 0px 1rem;
    }

    .pricing-cards-container {
        width: 90%;
        height: 994px;
        align-self: center;
        flex-direction: column;
    }

    .BasicCard {
        align-self: stretch;
        width: 100%;
        height: 38%;
        background: rgba(19, 19, 22, 0.05);
        border-radius: 2px;
    }

    .premium-card-container {
        flex-direction: row;
    }

    .PremiumCard {
        align-self: stretch;
        flex-direction: row;
        width: 100%;
        height: 28%;
        background: #131316;
        border-radius: 2px;
    }

    .elite-card-container {}

    .EliteCard {
        align-self: stretch;
        width: 100%;
        height: 30%;
        background: rgba(19, 19, 22, 0.05);
        border-radius: 2px;
    }
}


@media (max-width: 480px) {
    .beneficios-container img {
        align-self: center;

        width: 18px;
        height: 18px;
    }

    .beneficios-container p {

        font-size: 14px;
        line-height: 26px;

    }



    .elite-card-container {
        gap: 15px;
    }

    .basic-card-container {
        gap: 15px;
    }

    .premium-card-container {
        gap: 15px;
    }

}


@media (max-width: 480px) {
    .beneficios-container img {
        align-self: center;

        width: 18px;
        height: 18px;
    }

    .beneficios-container p {
        font-size: 14px;
        line-height: 26px;
    }

    .pricing-cards-container {
        width: 95%;
        height: 1200px;

    }
}

@media (max-width: 380px) {
    Card-Tag-Container {
        margin: 0px 0.5rem 0px 0.5rem;
    }
}














@media (max-width: 650px) {
    .PricingH1-Container h1 {
        margin-left: 0px;
        font-size: 32px;
        line-height: 40px;
    }

    .PricingH1-Container {
        width: 351px;
        height: 80px;
    }

    .PricingH1-Container svg {

        align-self: center;
        width: 80px;
        height: 80px;

        margin-left: -110px;
    }
}

@media (max-width: 370px) {
    .TrainingH1-Container h1 {
        margin-left: 40px;
        font-size: 28px;
        line-height: 38px;
    }

    .TrainingH1-Container {
        width: 320px;
        height: 80px;
    }

    .TrainingH1-Container svg {
        align-self: center;
        width: 70px;
        height: 70px;
    }
}









/* Community section */



.communitySlider .prev_arrow {
    position: absolute;
    bottom: 0;
    left: -26%;
    cursor: pointer;
}

.communitySlider .next_arrow {
    position: absolute;
    bottom: 0;
    left: -20%;
    cursor: pointer;
}









.CommunityH1-Container strong {
    color: #4AE290;
}

.CommunityH1-Container h1 {

    position: absolute;
    left: 70px;

    padding-top: 40px;
    align-items: top;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.CommunityH1-Container {
    align-self: top;
    position: relative;
    width: 360px;
    min-width: 360px;
    height: 480px;
    margin: 0px 40px 0px 40px;

    padding: 0px 80px 0px 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.CommunityH1-Container svg {
    position: absolute;
    left: 0;
}


.TextComm {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 360px;
    height: auto;
    padding: 0px 20px 30px 20px;

    display: flex;
    flex-direction: column;
    gap: 32px;
}

.CommunityCardSlider {
    width: 360px;
    height: 480px;
}

.CommunityCardSlider h3 {
    display: flex;
    flex-direction: row;

    width: 150px;
    height: 24px;

    position: relative;
    align-self: center;
    text-align: center;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
}

.CommunityCardSlider span {
    margin: 0px 10px 0px 10px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;

    color: #4AE290;


}

.CommunityCardSlider p {

    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
    font-size: 18px;
    line-height: 26px;

    color: #FFFFFF;
}

.community-container {
    position: relative;
    flex-grow: 0;

    display: flex;
    flex-direction: row;
    margin-top: 10rem;
    height: 480px;
}

.communitySlider {
    position: relative;
    width: 1280px;
}

.communitySlider .slick-list .slick-track {
    margin: 0;
}

.communitySlider .slick-list {
    align-items: flex-start;
    width: 1280px;
}

.communitySlider .slick-slide {
    width: 360px;
    height: 480px;
    margin: 0px 16px;
}

.communitySlider .slick-center {
    transition: all .1s;
    filter: opacity(90%);
}


.Mark, .Lauren, .John {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 360px;
    height: 480px;
}


.Mark {
    width: 360px;
    height: 480px;
    background-repeat: no-repeat;
    background-image: url(/CSS/Community/1.png);
}

.Lauren {
    width: 360px;
    height: 480px;
    background-repeat: no-repeat;
    background-image: url(/CSS/Community/2.png);
}

.John {
    width: 360px;
    height: 480px;
    background-repeat: no-repeat;
    background-image: url(/CSS/Community/3.png);
}







/* Media query community*/
@media (min-width: 1440px) {
    .communitySlider .slick-list {
        align-items: flex-start;
        width: 980px;
    }
}



@media (max-width: 1024px) {

    .CommunityH1-Container {
        height: 230px;
        position: relative;
        align-self: center;
        margin: 0;
    }

    .community-container {
        height: auto;
        flex-direction: column;
    }

    .communitySlider {
        width: 100vw;
        align-self: center;
    }

    .communitySlider .prev_arrow {
        left: inherit;
        bottom: -120px;
        right: 100px;
    }

    .communitySlider .next_arrow {
        left: inherit;
        bottom: -120px;
        right: 30px;

    }

    .communitySlider .slick-list {
        align-items: flex-start;
        width: auto;
    }

}

@media (max-width: 768px) {
    .Mark, .Lauren, .John {
        width: 300px;
        height: 400px;
        background-size: cover;
    }

    .communitySlider .slick-slide {
        width: 300px;
        height: 400px;
        margin: 0px 16px;
    }

    .TextComm {
        position: absolute;
        left: 0;
        bottom: 0;

        width: 300px;
        height: auto;
        padding: 0px 20px 30px 20px;

        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .CommunityCardSlider h3 {
        display: flex;
        flex-direction: row;

        width: 150px;
        height: 24px;

        position: relative;
        align-self: center;
        text-align: center;

        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;

        color: #FFFFFF;
    }

    .CommunityCardSlider span {
        margin: 0px 10px 0px 10px;

        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 24px;

        color: #4AE290;


    }

    .CommunityCardSlider p {

        font-family: 'Open Sans', sans-serif;
        text-align: center;
        font-style: italic;
        font-weight: lighter;
        font-size: 16px;
        line-height: 24px;

        color: #FFFFFF;
    }

}



@media (max-width: 480px) {
    .CommunityH1-Container {
        margin-left: 20px;
        left: 0;
        width: 245px;
        height: 80px;
        padding: 0;
        position: absolute;
        align-self: center;
    }

    .CommunityH1-Container strong {
        color: #4AE290;
    }

    .CommunityH1-Container h1 {

        position: absolute;
        left: 50px;

        padding-top: 23px;
        align-items: top;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 32px;
        line-height: 40px;
    }


    .CommunityH1-Container svg {
        position: absolute;
        left: 0;

        width: 89px;
        height: 80px;
    }


    .communitySlider .prev_arrow {
        left: 35%;
        right: 50%;
    }

    .communitySlider .next_arrow {
        left: 50%;
        right: 35%;
    }


    .communitySlider {
        margin-top: 10rem;
    }

    .communitySlider .slick-slide {

        margin: 0px 8px;
    }
}








/*FAQ AREA*/
.Faq-content {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 708px;
    height: 1157px;

    align-self: center;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url(/CSS/FAQ/Vector.png);
}

.FAQ-accordion {

    position: absolute;


    top: 23%;


    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 708px;
    height: auto;
}


.FAQ-accordion p {
    width: auto;


    padding: 0px 0px 0px 0px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}

.faqH1-container svg {
    display: none;
}

.faqH1-container strong {
    color: #4AE290;
}

.FAQ-container {
    display: flex;
    flex-direction: column;

    margin-top: 10rem;
}

.faqH1-container{
    margin-top: 3rem;
    position: absolute;
    top: 0;
}

.faqH1-container h1 {


    padding-top: 40px;
    align-items: top;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.faq-item {
    overflow: hidden;
    width: 100%;
    height: auto;
    padding: 20px 30px;

    position: relative;

    background: #FFFFFF;
    border: 1px solid rgba(19, 19, 22, 0.1);
    box-sizing: border-box;
    border-radius: 2px;
}

.faq-item:target .resposta{
    display: block;
    transition: all .5s;
}

.faq-item:target .accordion-link .toshow{
    display: none;
}
.faq-item:target .accordion-link .tohide{
    display: block;
}

.FAQ-accordion a {
    list-style: inherit;
    text-decoration: none;
    color: inherit;
}

.faq-item img {
    position: absolute;
    padding-right: 20px;
    align-self: center;
    justify-self: center;

    right: 10px;
}


.tohide {
    display: none;
    margin-top: -25px;
}

.resposta {
    
    display: none;
    margin-top: 25px;
    max-width: 95%;
}

.faq-item h1 {

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
}


@media (max-width: 768px) {
    .Faq-content{
        background: none;
    }

    .faqH1-container{
        position: absolute;
        left: 50px;
        margin-top: 100px;
        height: 200px;
    }
    .faqH1-container svg {

        top: 20px;
        left: -40px;


        position: absolute;
        display: inherit;
    }
    .faqH1-container h1 {
    
    
        padding-top: 40px;
        align-items: top;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 50px;
        line-height: 50px;
    }

    .Faq-content{
        width: 90%;
    }
    .FAQ-accordion {

        width: 100%;

    }

    .tohide , .toshow{
        align-self: right;
        margin-right: -20px;
    }
    .faq-item{
        padding: 20px 20px 20px 20px;
    }


}

@media (max-width: 480px){
    .Faq-content{
        width: 97%;
    }

    .faq-item{
        padding: 15px 15px 15px 15px;
    }
}







.rodape{
    position: relative;
    width: 100%;
    height: auto;
}

.rdp-conteudo{
    width: 100%;
    height: auto%;
}

.hero2-image img{
    position: absolute;
}
.hero2-image{
    position: absolute;
}

.direitos{
    position: relative;
    width: 100%;
    height: 195px;
    background: #131316;
}

.rodapeTexto{
    bottom: 51px;
    right: 63px;
    position: absolute;
}

.logoDireitos{
    position: absolute;
    bottom: 51px;
    left: 63px;
}

.logoDireitos svg{
    left: 63px;
}

.rodapeTexto p{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;

    color: #9797A2;
}









.rdp-conteudo{
    width: 100%;
    height: 537px;
    background: #131316;
}